/* src/components/Avatar.module.scss */
.avatar {
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  background: var(--surface-2, #f3f4f6);
  border: 1px solid var(--border-1);
}
.rounded {
  border-radius: 50%;
}
